<article class="stats-page {{ condensed_page.page_mapping.orientation or 'portrait' }}">
    <div class="row">
        <div class="column three">
            <h3 id="{{ images.get('traffic').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('traffic').image_number }}</span>
                {{ images.get('traffic').report.get_report_meta().full_report_name }} 
            </h3>
            <div class="box">
                <img src="{{ images.get('traffic').get_base64()|safe }}">
            </div>
        </div>
        <div class="column three">
            <h3 id="{{ images.get('products').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('products').image_number }}</span>
                {{ images.get('products').report.get_report_meta().full_report_name }}
            </h3>
            <div class="box">
                <img src="{{ images.get('products').get_base64()|safe }}">
            </div>
        </div>
        <div class="column three">
            <h3 id="{{ images.get('dpp').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('dpp').image_number }}</span>
                {{ images.get('dpp').report.get_report_meta().full_report_name }}
            </h3>
            <div class="box">
                <img src="{{ images.get('dpp').get_base64()|safe }}">
            </div>
        </div>
    </div>
</article>