<article class="stats-page {{ condensed_page.page_mapping.orientation or 'portrait' }}">
    <div class="row">
        <div class="column">
            <h3 id="{{ images.get('dz_orders').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('dz_orders').image_number }}</span>
                {{ images.get('dz_orders').report.get_report_meta().full_report_name }}
            </h3>
            <div class="box">
                <img src="{{ images.get('dz_orders').get_base64()|safe }}">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="column two">
            <h3 id="{{ images.get('payments').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('payments').image_number }}</span>
                {{ images.get('payments').report.get_report_meta().full_report_name }} 
            </h3>
            <div class="box">
                <img src="{{ images.get('payments').get_base64()|safe }}">
            </div>
        </div>
        <div class="column two">
            <h3 id="{{ images.get('orders').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('orders').image_number }}</span>
                {{ images.get('orders').report.get_report_meta().full_report_name }}
            </h3>
            <div class="box">
                <img src="{{ images.get('orders').get_base64()|safe }}">
            </div>
        </div>
    </div>
</article>
