<article class="stats-page {{ condensed_page.page_mapping.orientation or 'portrait' }}">
    <div class="row">
        <div class="column two">
            <h3 id="{{ images.get('sphw').report.report_name }}-{{ condensed_page.section.period }}">
                <span class="index">{{ images.get('sphw').image_number }}</span>
                {{ images.get('sphw').report.get_report_meta().full_report_name }}
            </h3>
            <div class="box">
                <img src="{{ images.get('sphw').get_base64()|safe }}">
            </div>
        </div>
    </div>
</article>