@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Light"), local("Nunito-Light"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: local("Nunito Light Italic"), local("Nunito-Light"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: local("Nunito Italic"), local("Nunito-Italic"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold-Italic"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: local("Nunito ExtraBold Italic"), local("Nunito-ExtraBold-Italic"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: local("Nunito Black"), local("Nunito-Black"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: local("Nunito Black Italic"), local("Nunito-Black-Italic"), url("/Users/Boss/Downloads/report_tool/assets/fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype");
}
@page {
  @bottom-right {
    content: counter(page);
    height: 0.65cm;
    text-align: center;
    width: 0.65cm;
    line-height: inherit;
    border-radius: 50%;
    font-size: 10pt;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    background: black;
    color: white;
  }
  @bottom-center {
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }
  @bottom-left {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}
@page :blank {
  @bottom-left {
    background: none;
    content: "";
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
@page no-chapter {
  @bottom-left {
    background: none;
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
@page chapter {
  margin: 0;
  @top-left {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
@page :first {
  @bottom-left {
    background: none;
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @top-left {
    height: 2cm;
    width: 2cm;
    background: green;
  }
  @top-center {
    height: 2cm;
    width: 100%;
    background: green;
  }
  @top-right {
    height: 2cm;
    width: 100%;
    background: green;
  }
}
@page portrait {
  size: A4 portrait;
}
@page landscape {
  size: A4 landscape;
}
@page stats {
  @bottom-left {
    content: none;
  }
}
html {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  hyphens: auto;
}
html body h1 {
  font-size: 38pt;
  width: 100%;
}
html body h2, html body h3, html body h4 {
  color: black;
  font-weight: 400;
}
html body h2 {
  font-size: 20pt;
}
html body h3 {
  font-size: 14pt;
  font-weight: 500;
  margin-bottom: 10px;
}
html body h4 {
  font-size: 11pt;
}
html body .hidden {
  display: none;
}
html body.booklet h1 {
  font-size: 34pt;
  text-align: center;
}
html body.booklet h2, html body.booklet h3, html body.booklet h4 {
  color: black;
  font-weight: 400;
}
html body.booklet h2 {
  break-before: always;
  font-size: 28pt;
  string-set: heading content();
}
html body.booklet h3 {
  font-weight: 300;
  font-size: 15pt;
}
html body.booklet h4 {
  font-size: 13pt;
}
html body.booklet .section-counter {
  color: #75bfec;
  font-weight: 600;
}
html body.booklet table {
  border-spacing: 0;
  border-collapse: collapse;
}
html body.booklet table.data-table {
  background-color: white;
  font-size: 6.5pt;
  width: 100%;
  max-width: 100%;
}
html body.booklet table.data-table td, html body.booklet table.data-table th {
  padding: 0;
}
html body.booklet table.data-table .digit {
  text-align: right;
}
html body.booklet table.data-table .center {
  text-align: center;
}
html body.booklet table.data-table tr > td.section-end, html body.booklet table.data-table tr > td.label, html body.booklet table.data-table tr > th.section-end, html body.booklet table.data-table tr > th.label {
  border-right: 1px solid #75bfec;
}
html body.booklet table.data-table tr > td.section-end:last-child, html body.booklet table.data-table tr > td.label:last-child, html body.booklet table.data-table tr > th.section-end:last-child, html body.booklet table.data-table tr > th.label:last-child {
  border-right: none;
}
html body.booklet table.data-table > thead {
  display: table-header-group;
  height: 1.1cm;
}
html body.booklet table.data-table > thead > tr:first-child {
  color: #fff;
  border: 1px solid #75bfec;
  background-color: #e7e7e7;
}
html body.booklet table.data-table > thead > tr:last-child > th {
  background-color: white;
  border-bottom: 0px;
  font-weight: 900;
}
html body.booklet table.data-table > thead > tr > th {
  color: black;
  vertical-align: bottom;
  text-align: left;
}
html body.booklet table.data-table > tbody > tr {
  page-break-inside: avoid !important;
}
html body.booklet table.data-table > tbody > tr.title-header-1 {
  background-color: #75bfec;
  color: black;
  padding-left: 7.5px;
  font-weight: 600;
}
html body.booklet table.data-table > tbody > tr.title-header-2 {
  background-color: #e5f3fb;
}
html body.booklet table.data-table > tbody > tr.title-header-2 td:first-child {
  padding-left: 20px;
}
html body.booklet table.data-table > tbody > tr.title-header-3 {
  background-color: white;
}
html body.booklet table.data-table > tbody > tr.title-header-3 td:first-child {
  padding-left: 30px;
}
html body.booklet table.data-table > tbody > tr.title-header-100 {
  font-weight: 800;
  border-top: 2px solid black;
}
html body.booklet table.data-table > tbody > tr.title-header-200 {
  font-weight: 700;
  background-color: #E0E79B;
  text-transform: uppercase;
  border-top: 0.5px solid white;
}
html body.booklet table.data-table > tbody > tr.title-header-200:first-child {
  border-top: 0.5px solid black;
}
html body.booklet table.data-table > tbody > tr.title-header-200 td.section-end, html body.booklet table.data-table > tbody > tr.title-header-200 td.label {
  border-right: 1px solid #fff;
}
html body.booklet table.data-table > tbody > tr.title-header-200 td.section-end:last-child, html body.booklet table.data-table > tbody > tr.title-header-200 td.label:last-child {
  border-right: none;
}
html body.booklet table.data-table > tbody > tr.title-header-300 {
  font-weight: 900;
  color: white;
  background-color: #95C120;
  text-transform: uppercase;
}
html body.booklet table.data-table > tbody > tr.title-header-300 td.section-end, html body.booklet table.data-table > tbody > tr.title-header-300 td.label {
  border-right: 1px solid #fff;
}
html body.booklet table.data-table > tbody > tr.title-header-300 td.section-end:last-child, html body.booklet table.data-table > tbody > tr.title-header-300 td.label:last-child {
  border-right: none;
}
html body.booklet table.data-table > tfoot {
  display: table-row-group;
}
html body.booklet table.data-table > tbody > tr > td, html body.booklet table.data-table > tbody > tr > th, html body.booklet table.data-table > tfoot > tr > td, html body.booklet table.data-table > tfoot > tr > th, html body.booklet table.data-table > thead > tr > td, html body.booklet table.data-table > thead > tr > th {
  padding: 2px 5.5px;
  vertical-align: top;
}
html body.booklet .index {
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-right: 0.25cm;
  width: 15pt;
  height: 15pt;
  background: #E0E79B;
  color: black;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 50%;
  text-align: center;
}
html body.booklet .row {
  display: block;
}
html body.booklet .row .column {
  display: block;
  width: 100%;
}
html body.booklet .row .column h3 {
  font-size: 10pt;
}
html body.booklet .row .column.two {
  width: 48%;
  display: inline-block;
}
html body.booklet .row .column.two:first-child {
  margin-right: 0.5cm;
}
html body.booklet .row .column.three {
  display: inline-block;
  width: 32%;
  margin-right: 0.25cm;
}
html body.booklet .row .column.three:last-child {
  margin-right: 0;
}
html body.booklet .row .column .box {
  display: block;
  margin: auto;
}
html body.booklet .row .column .box img {
  width: 100%;
}
html body.booklet .timestamp {
  font-family: "Open Sans Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 8pt;
}
html body.booklet .timestamp strong {
  font-style: normal;
  font-weight: 900;
}
html body.booklet article.stats-page {
  page: stats;
}
html body.booklet article.portrait {
  page: portrait;
}
html body.booklet article.portrait.stats-page {
  margin: 1.25cm 0;
  page: stats;
}
html body.booklet article.landscape {
  page: landscape;
}
html body.booklet article.landscape.stats-page {
  margin: 1.25cm 0.125cm;
  page: stats;
}
html body.booklet article.new-section {
  align-items: center;
  display: flex;
  height: 250mm;
  justify-content: center;
  page: chapter;
}
html body.booklet article.new-section h1 {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 24pt;
  page: no-chapter;
  margin: 0;
}
html body.booklet article#cover img {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8cm;
  margin-bottom: 1cm;
  display: block;
}
html body.booklet article#cover .report-title {
  text-align: center;
  padding-top: 2.25cm;
  border-top: 1px solid #dfdfdf;
  width: 70%;
  margin: auto;
  display: block;
}
html body.booklet article#cover .report-title h1 {
  color: #75bfec;
  font-size: 25pt;
  text-align: center;
  margin: 0;
}
html body.booklet article#cover .report-title h4 {
  font-size: 18pt;
  text-align: center;
  margin: 0;
}
html body.booklet article#cover hr {
  width: 50%;
  height: 0px;
  border: none;
  border-top: 2px solid #d8d8d8;
  text-align: center;
  margin: 1cm auto;
}
html body.booklet article#main-table-of-contents, html body.booklet article.section-table-of-contents {
  page: no-chapter;
}
html body.booklet article#main-table-of-contents h2, html body.booklet article.section-table-of-contents h2 {
  font-size: 22pt;
  font-weight: 900;
  font-family: "Open Sans Condensed";
  margin-top: 0;
  margin-bottom: 0.75cm;
  break-before: always;
  string-set: heading content();
}
html body.booklet article#main-table-of-contents h2::after, html body.booklet article.section-table-of-contents h2::after {
  margin-top: 0.25cm;
  background: #75bfec;
  content: "";
  display: block;
  height: 0.09cm;
  margin-bottom: 0.35cm;
  width: 1.25cm;
}
html body.booklet article#main-table-of-contents h3, html body.booklet article.section-table-of-contents h3 {
  font-size: 12.5pt;
  font-weight: 700;
  margin: 2em 0 0;
}
html body.booklet article#main-table-of-contents h3:first-of-type, html body.booklet article.section-table-of-contents h3:first-of-type {
  margin: 0 0 0.5em;
}
html body.booklet article#main-table-of-contents h3 .section-counter, html body.booklet article.section-table-of-contents h3 .section-counter {
  color: #75bfec;
  font-weight: 600;
}
html body.booklet article#main-table-of-contents ul, html body.booklet article.section-table-of-contents ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0.125cm;
}
html body.booklet article#main-table-of-contents ul li a, html body.booklet article.section-table-of-contents ul li a {
  font-size: 10pt;
  color: inherit;
  text-decoration: inherit;
}
html body.booklet article#main-table-of-contents ul li a::before, html body.booklet article.section-table-of-contents ul li a::before {
  content: target-text(attr(href));
}
html body.booklet article#main-table-of-contents ul li a::after, html body.booklet article.section-table-of-contents ul li a::after {
  font-weight: 700;
  color: #75bfec;
  content: target-counter(attr(href), page);
  float: right;
}
html body.booklet article.section-table-of-contents ul li {
  margin: 0.5cm 0 0.1cm 0;
}
html body.booklet article.section-table-of-contents ul li:first-child {
  margin: 0 0 0.1cm 0;
}
html body.booklet article.section-table-of-contents ul li a {
  font-weight: 700;
}
html body.booklet article.section-table-of-contents ul li a::after {
  margin-top: -1.1cm;
}
html body.booklet article.section-table-of-contents ul li a .item {
  margin: 0;
}
html body.booklet article.section-table-of-contents ul li a .item.caption {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: italic;
}
html body.booklet article#main-table-of-contents ul li {
  margin: 0 0 0.01cm 0.5cm;
}
html body.booklet article#chapter {
  align-items: center;
  display: flex;
  height: 297mm;
  justify-content: center;
  page: chapter;
}

/*# sourceMappingURL=report.css.map */
